.container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
    text-align: center;
    padding: 10px;
}

.header,
.articulo,
.izquierda,
.derecha,
.footer {
	flex-grow: 1;
	flex-basis: 100%;
}
@media all and (min-width: 600px){
    .aside{flex:1 1 auto}
}
@media all and (min-width: 800px){
    .articulo{flex:2 0;}
    .izquierda{order:1;}
    .articulo{order:2;}
    .derecha{order:3;}
    .footer{order:4;}
}
.header {
	background: aliceblue;
}
.articulo {
	background: #ffc300;
}
.izquierda {
	background: #900c3f;
}
.derecha {
	background: #c70039;
}
.footer {
	background: #daf7a6;
}
